/* CSS POUR TOUT CHANGEMENT GENERAL DE LA PAGE*/
body {
    background-color: rgb(20, 20, 20);
    height: 4000px;
    padding-top: 120px;
    
}
p {
    font-family: roboto,Arial;
    font-size: 50px;
}
p i {
    font-family: roboto,Arial;
    font-size: 40px;
}