@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #2c2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #909090;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    margin-bottom: 15px;
}

.checkmark {
    font-size: 50px;
    color: #ff9f00;
}

.modal-body h2 {
    margin: 0;
    font-size: 60px;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

.modal-body p {
    font-size: 25px;
    color: #000000;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

.modal-footer {
    margin-top: 20px;
}

.close-button {
    background-color: #ff9f00;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition:  0.7s ease;
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.close-button:hover {
    background-color: #606361;
}
