.underheader  {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 850px;
    position: fixed;
    top: 90px;
    left: 270px;
    right: 240px;
    background: #444 ;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.summary {
    width: 170px;
    height: 50px;
    font-family: roboto;
    font-size: 16px;
    background-color:#444;
    border: none;
    cursor: pointer;
    transition: backgroud-color 1s, color 1s;
    color: white;
    border-right: solid 1px  gray;
    

    
    

}
.summary:hover {
    background-color: rgba(3, 10, 12, 0.877);
     color: rgb(255, 255, 255);
}
.summary:active {
    opacity: 0.7;

}